<h1 id="title">WORKS</h1>

<input  placeholder="Search" [(ngModel)]="searchBox" (ngModelChange)="filterProdcuts()"  name="searchBox"/>
<!-- <button (click)="filterProdcuts()"></button> -->

<cdk-virtual-scroll-viewport itemSize="500" (scrolledIndexChange)="getBatch()">
  <li
    *cdkVirtualFor="
      let item of productsList;
      let i = index;
      trackBy: trackByIdx
    "
    class="animated lightSpeedIn"
  >
    <p>ID:{{ item._id }} {{ item.product }}</p>
    <p>{{ item.price }}</p>

    <img src="{{ item.imageUrl }}" />
  </li>
</cdk-virtual-scroll-viewport>
